.adminProjects {
    width: 100%;
    min-height: inherit;
}

.adminProjects nav {
    height: 60px;
    color: whitesmoke;
    position: fixed;
    background-color: #101010de;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
}

nav .btn {
    font-size: medium;
    margin-right: 25px;
    padding: 3px 10px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    height: inherit;
    border: none;
    border-radius: 0;
    transition: all 200ms ease-in-out;
}

nav .btn:hover {
    padding: 3px 20px;
    transition: all 200ms ease-in-out;
}

.addProjects {
    background-color: rgb(221 221 221 / 15%);
    color: whitesmoke;
}

.logout {
    background-color: whitesmoke;
    color: black;
}

.projectCardContainer {
    margin: 60px auto;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    padding: 10px 10px;
    background-color: whitesmoke;
    justify-content: flex-start;
    cursor: pointer;
    grid-gap: 50px 20px;
    grid-template-columns: auto auto;
}